@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
}
html {
    background: url(https://picsum.photos/1550/750/?blur) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.buttons{
    display: flex;
    margin: 20% 30%;

}
.buttons .but{
    margin: 0 10px;
    border: 2px #080708 solid;
    display: inline;
    width: 400px;
    height: 100px;
    -webkit-box-shadow: 12px 10px 5px 0px rgba(231, 166, 26, 1);
    -moz-box-shadow: 12px 10px 5px 0px rgba(231, 166, 26, 1);
    box-shadow: 12px 10px 5px 0px rgba(231, 166, 26, 1);
}
.buttons .active
{
    border: 2px orange solid;
    margin: 0 10px;
    display: inline;
    width: 400px;
    height: 100px;
    -webkit-box-shadow: 12px 10px 5px 0px rgba(231, 166, 26, 1);
    -moz-box-shadow: 12px 10px 5px 0px rgba(231, 166, 26, 1);
    box-shadow: 12px 10px 5px 0px rgba(231, 166, 26, 1);
}
.top_text{
    color: white;
    font-size: xx-large;
}
.bottom_text{
    color: #8e8163;
    font-size: x-large;
    padding: 5px 20px;
}